@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import './Animations';
$mainColor:#19323C;
$menuColor:#F3F7F0;
$fontColor:#0E1116;
$blockNotActive:#002742;
$blockActive: #005344;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
@mixin colorCircle($color) {
    border-radius:50%;
    background-color:$color;
    width:90px;
    height:90px;
    margin:20px;
    border:solid 2px #20242C;
    transition:width 0.5s linear 0s,height 0.5s linear 0s;
    cursor:pointer;
    &:hover {
        width:100px;
        height:100px;
    }
}

*{
	padding:0px;
	margin:0px;
}
.container {	
	@include flexCenter();
	padding:0px;
	margin:0px;
	background-color: $mainColor;
}
.wrapper {
    @include flexCenter();
    padding:0px;
    margin:0px;
    background-color: $mainColor;
}

.menu {
	@include flexCenter();
	background-color:$menuColor;
	width:350px;
	height:350px;
	border-radius:50%;
    li {
    	text-align:center;
        list-style-type: none;
        color:$fontColor;
        font-size:50px;
        font-family: 'Kanit', sans-serif;
        padding:20px;
        cursor:pointer;
    }
}


.difficulty-none {
    @include colorCircle(#f3f7f0);
}
.difficulty1 {
    @include colorCircle(#2ECC40);
}
.difficulty2 {
    @include colorCircle(#FFDC00);
}
.difficulty3 {
    @include colorCircle(#FF4136);
}
.playZone {
    background-color:white;
    height:600px;
    width:600px;
}
.gameBlock-big {
    width: 180px;
    margin: 10px;
    height: 180px;
    background-color:$blockNotActive;
    cursor:pointer;
}
.gameBlock-big-active {
    @extend .gameBlock-big;
    background-color:$blockActive;
}

.gameBlock-mid {
    width: 130px;
    margin: 10px;
    height: 130px;
    background-color:$blockNotActive;
    cursor:pointer;
}
.gameBlock-mid-active {
    @extend .gameBlock-mid;
    background-color:$blockActive;
}

.gameBlock-small {
    width: 105px;
    margin: 7px;
    height: 105px;
    background-color:$blockNotActive;
    cursor:pointer;
}
.gameBlock-small-active {
    @extend .gameBlock-small;
    background-color:$blockActive;
}

.tablePlayZone {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
    background-color:white;
        display: flex;
    justify-content: center;
    align-items: center;
}

.endGame {
    @include flexCenter();
    background-color:$menuColor;
    width:350px;
    height:150px;
    border-radius:5%;
    span {
        margin-left:35%;
        cursor:pointer;
        color:#C80D3D;
        font-family: 'Kanit', sans-serif;
        font-size:20px;
    }
}